[core]
	excludesfile = /Users/takita/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]

[user]
	name = tackeyy
	email = mailto.takita.yusuke@gmail.com

[alias]
  co = checkout
  br = branch
  delete-merged-local-branches = !git branch --merged | grep -v -e 'master' -e 'develop' | xargs git branch --delete %
  delete-local-branches = !git branch | grep -v -e 'master' -e 'develop' | xargs git branch -D %
[url "git@github.com:"]
	pushinsteadof = https://github.com/
